body {
    background-color: #BDDE8D;
}

#top {
    margin-bottom: 30px;
}

#logo {
    margin: auto;
    padding-left: 300px;
}

#header {
    padding-bottom: 20px;
}

#page-title {
    font-size: 50px;
    color: #000000;
    text-align: center;
    font-weight: bold;
}

.navbar-default {
    background-color: #6CCFFF;
    border-color: #6CCFFF;
    color: #fff;

    width: 100%; 
    display: inline-block; 
    text-align: center; 
    padding: 0; 
    list-style: none; 
    margin-left: 0px;
}

button {
     font-size: 20px;
}

h1 {
    text-align: center;
    font-weight: bold;
}

p, ol {
    text-align: center;
    font-size: 30px;
    list-style: none;
    font-weight: bold;
}

#map {
    display: block;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

#menu_btn {
    margin-top: 8px;
    height: 30px;
    width: 50px;
}

#menu_items {
    float: right;
    
}

#currentAlertRed {
   color: #fff;
}

#currentAlertBlack {
    color: #fff;
}

#GetLoc {
    display: block;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}





